@import url('normalise.css');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

span img {
  height: calc(100% - 25px);
  margin-left: -0.5em;
}

#left {
  float: left;
  width: 25%;
  height: 100%;
}

#contents {
  display: inline;
  float: right;
  height: 58%;
  width: 100%;
  text-align: center;
}

#energy-colour {
  font-size: 200px;
  height: 45%;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}


#plus-minus-reset {
  margin: 0.3em 0.3em 0 0;
}

#plus-minus-reset p {
  display: inline;
  font-size: 30px;
  padding-left: 0.4em;
}

#contents button {
  padding: 0;
  border: none;
  background: none;
}

#power-saving-mode {
  margin: 0.3em 0.3em 0 0;
  font-size: 30px;
}

.blue {
  color: blue;
}

.nothing {

}

#holiday-mode {
  font-size: 30px;
  margin: 0.3em 0.3em 0 0;
}

#psm {
  background-color: white;
}