<!doctype>
<html>
  <title> Thermostat </title>
</html>

<body>
  <span id='temp'>Temp</span>
  <button id='powersave'>Power Save</button>
  <button id='plus'>+</button>
  <button id='minus'>-</button>
  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="js/thermostat.js"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      var thermostat = new Thermostat();

      $('#temp').html(thermostat.defaultTemperature());
      $('#powersave').html(thermostat.defaultPowerSave());

      $('#plus').click(function(){
        $('#temp').html(thermostat.increaseTemperature());
      });

      $('#minus').click(function(){
        $('#temp').html(thermostat.decreaseTemperature());
      });

      $('#powersave').click(function(){
        $('#powersave').html(thermostat.changePowerSave());
      });

    });
  </script>
</body>