<!doctype>
<html>
  <head>
    <title> Thermostat </title>
    <style>
      body {
        background-color: lightblue;
        text-align: center;
      }
    </style>
  </head>


  <body>
    <span id='temp'>Temp</span>
    <button id='powersave'>Power Save</button>
    <br>
      <button id='plus'>+</button>
      <button id='minus'>-</button>
    </br>
    <br>
      <button id='reset'>Reset</button>
    </br>
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <script src="js/thermostat.js"></script>
    <script type="text/javascript">

      $(document).ready(function(){
        var thermostat = new Thermostat();

        $('#temp').html(thermostat.defaultTemperature());
        $('#powersave').html(thermostat.defaultPowerSave());

        $('#plus').click(function(){
          $('#temp').html(thermostat.increaseTemperature());
        });

        $('#minus').click(function(){
          $('#temp').html(thermostat.decreaseTemperature());
        });

        $('#powersave').click(function(){
          $('#powersave').html(thermostat.changePowerSave());
        });

        $('#reset').click(function(){
          $('#temp').html(thermostat.defaultTemperature());
        });

      });
    </script>
  </body>

</html>